<head>
  <title>Solar System</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<nav>
  <a href="/">Home</a>
  <a href="/nasa">NASA</a>

  <!-- ALL PLANETS -->
  <a href="/planet?planetName=Mercury">Mercury</a>
  <a href="/planet?planetName=Venus">Venus</a>
  <a href="/planet?planetName=Earth">Earth</a>
  <a href="/planet?planetName=Mars">Mars</a>
  <a href="/planet?planetName=Jupiter">Jupiter</a>
  <a href="/planet?planetName=Saturn">Saturn</a>
  <a href="/planet?planetName=Uranus">Uranus</a>
  <a href="/planet?planetName=Neptune">Neptune</a>
</nav>