<!DOCTYPE html>
<html>
<%- include('partials/header.ejs') %>

<style>
  body {
    background-image: url("<%= image %>");
    background-size: cover;
  }
</style>

<body class="fade-in">

  <h1>Solar System Explorer</h1>
  <p>Select a planet to explore!</p>

<%- include('partials/footer.ejs') %>
</body>
</html>